* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
}
.outer {
    position: relative;
    margin: auto;
}
.container {
    width: 800px;
    height: 450px;
    margin: auto;
    padding: 30px;
    background-color: white;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
}
.images {
    flex: 1;
    position: relative;
}
.shadow.desktop {
    position: absolute;
    top: -290px;
    left: -560px;
    width: 240%;
}
.woman.desktop {
    position: absolute;
    top: 50px;
    left: -100px;
    width: 115%;
}
.box.desktop {
    position: absolute;
    top: 200px;
    left: -95px;
    width: 23%;
    z-index: 1;
}
.mobile {
    display: none;
}
.faq {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.faq h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: hsl(237, 12%, 33%)
}
.question label:hover, .question img:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}
p {
    display: none;
    color: hsl(240, 6%, 50%);
}
hr {
    width: 87%;
    border-style: none;
    border-top: 1px solid hsl(240, 5%, 91%);
}

.display {
    display: block;
}
.bold {
    font-weight: 700;
}
.rotate {
    transform: rotate(180deg);
}

@media (max-width: 960px) {
    .container {
        width: 600px;
    }
    .shadow.desktop {
        top: -180px;
        left: -415px;
        width: 250%;
    }
    .woman.desktop {
        top: 70px;
        left: -90px;
        width: 130%;
    }
    .box.desktop {
        top: 200px;
        left: -70px;
        width: 23%;
    }
    .question {
        width: 100%;
    }
}
@media (max-width: 720px) {
    .outer {
        margin-top: 11rem;
    }
    .container {
        width: 320px;
        flex-direction: column;
        overflow: visible;
        padding: 10px;
    }
    .desktop {
        display: none;
    }
    .shadow.mobile {
        display: inline-block;
        position: absolute;
        top: -18px;
        left: 30px;
        width: 80%;
    }
    .woman.mobile {
        display: inline-block;
        position: absolute;
        top: -130px;
        left: 30px;
        width: 80%;
    }
    .faq {
        flex: 6;
        padding: 10px;
        margin-top: 20px;
    }
    .faq h1 {
        text-align: center;
    }
 
    .question {
        width: 100%;
    }
}
